h2{
  text-align:center;
  color: white;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  margin:100px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.wrapper {
  text-align: center;
}

.button {
  margin: 25px;
  top: 30%;
  display: inline-block;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  width: 175px;
}
