<app-Navbar4></app-Navbar4>
<h2 [ngStyle]="{'background-color':'#3f51b5'}">Manage Test Kit Stock</h2>


<div class="wrapper">
  <a mat-raised-button class="button" color="warn" routerLink="/newStock">New Stock</a>
  <a mat-raised-button class="button" color="accent" routerLink="/existStock">Existing Stock</a>
  <router-outlet></router-outlet>
</div>

<!-- Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
