<h2 [ngStyle]="{'background-color':'#3f51b5'}">Test History</h2>
<table border="1">
  <thead>
     <tr>
       <th>Name</th>
       <th>Patient Type</th>
       <th>Symptoms</th>
       <th>Test Date</th>
       <th>Result Date</th>
       <th>Status</th>
     </tr>
  </thead>
  <tbody>
     <tr *ngFor="let test of tests">
       <td>
             {{test.name}}
         </td>
         <td>
              {{test.condition}}

           </td>
           <td>
                {{test.symptoms}}
             </td>
             <td>
                {{test.proposedDate}}
           </td>
           <td>
                {{test.resultDate}}
         </td>
         <td>
                {{test.status}}
       </td>

    </tr>
   </tbody>
 </table>
